.admin__menu {
  .item-aqeltech.parent.level-0 {
    > a {
      &:before {
        content: '';
        background-image: url('@{baseDir}AQELTech_Core/images/icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
